
* {
   
    font-family:Poppins,sans-serif;
    overflow-x: clip;
}

html,body{
    overflow-x: clip;
}


#r1 :hover {
    font-weight: bold;
    transition: 20ms;
    text-decoration: underline;
}

#r2 :hover {
    font-weight: bold;
    transition: 20ms;
    text-decoration: underline;
}

#r3 :hover {
    font-weight: bold;
    transition: 20ms;
    text-decoration: underline;
}

#r4 :hover {
    font-weight: bold;
    transition: 20ms;
    text-decoration: underline;
}




