
* {
   
    
    overflow-x: clip;
}

body{
    overflow-x: clip;
    font-family: Poppins,sans-serif;
}


#r1 :hover {
    font-weight: bold;
    transition: 20ms;
    text-decoration: underline;
}

#r2 :hover {
    font-weight: bold;
    transition: 20ms;
    text-decoration: underline;
}

#r3 :hover {
    font-weight: bold;
    transition: 20ms;
    text-decoration: underline;
}

#r4 :hover {
    font-weight: bold;
    transition: 20ms;
    text-decoration: underline;
}

@font-face {
    font-family: 'magnolia';
    src: url('Magnolia_Script.otf') format('opentype');
}

#mission {
    font-family: 'magnolia',sans-serif;
}

.btn.btn-outline-info.custom-hover:hover {
    background-color: #4287f5 !important; 
    border-color: #4287f5 !important ;

}


